name: auth-service (secure CI)
on:
  push:
    branches: ["main", "develop"]
    paths:
      - "services/auth-service/**"
      - ".github/workflows/auth-service-ci.yaml"
      - ".github/workflows/_reusable-secure-service-ci.yaml"
  pull_request:
    paths:
      - "services/auth-service/**"
      - ".github/workflows/auth-service-ci.yaml"
      - ".github/workflows/_reusable-secure-service-ci.yaml"
permissions:
  contents: read
  id-token: write
  security-events: write
jobs:
  call-secure-ci:
    uses: ./.github/workflows/_reusable-secure-service-ci.yaml
    with:
      service_name: auth-service
      service_dir: services/auth-service
      ecr_repository: auth-service
      aws_region: us-east-1
      aws_account_id: "461508717137"
      role_to_assume: arn:aws:iam::461508717137:role/github-actions-ecr-push
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
