name: DAST (OWASP ZAP) against dev

on:
    workflow_dispatch:
        inputs:
            target:
                description: "Full URL to scan (ALB address) e.g. http://k8s-xxx.elb.amazonaws.com"
                required: true
                type: string
            host_header:
                description: "Host header for Ingress routing e.g. api-dev.fintech.local"
                required: true
                type: string

permissions:
    contents: read

jobs:
    zap-baseline:
        runs-on: ubuntu-latest
        steps:
            - name: ZAP Baseline Scan (report-only)
              uses: zaproxy/action-baseline@v0.12.0
              with:
                  target: ${{ inputs.target }}
                  fail_action: false
                  cmd_options: >-
                      -a
                      -I
                      -z "-config replacer.full_list(0).description=hosthdr
                          -config replacer.full_list(0).enabled=true
                          -config replacer.full_list(0).matchtype=REQ_HEADER
                          -config replacer.full_list(0).matchstr=Host
                          -config replacer.full_list(0).regex=false
                          -config replacer.full_list(0).replacement=${{ inputs.host_header }}"
